@import "@ckeditor/ckeditor5-ui/theme/mixins/_rwd.css";

.ck.ck-labeled-field-view > .ck.ck-labeled-field-view__input-wrapper {
	margin: 5px;
}

.ck.ck-labeled-field-view {
	& .ck-labeled-field-view__status {
		text-align: right;
		margin-right: 6px;
	}
}

.search-item {
	background-color: rgb(157, 228, 133);

	& .current {
		background-color: rgb(228, 112, 209);
	}
}
